---

- name: Download rustup-init
  ansible.builtin.get_url:
    url: "{{ rustup_url }}"
    dest: "{{ temp_folder }}/rustup-init"
    mode: 0755

- name: Run rustup-init
  ansible.builtin.command:
    argv:
      - "{{ temp_folder }}/rustup-init"
      - -y

- name: Cleanup temp folder
  ansible.builtin.file:
    path: "{{ temp_folder }}/rustup-init"
    state: absent